In [ ]:
!pip install easyocr

Collecting easyocr
  Downloading easyocr-1.7.1-py3-none-any.whl (2.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 9.7 MB/s eta 0:00:00
Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (from easyocr) (2.1.0+cu118)
Requirement already satisfied: torchvision>=0.5 in /usr/local/lib/python3.10/dist-packages (from easyocr) (0.16.0+cu118)
Requirement already satisfied: opencv-python-headless in /usr/local/lib/python3.10/dist-packages (from easyocr) (4.8.1.78)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from easyocr) (1.11.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from easyocr) (1.23.5)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from easyocr) (9.4.0)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.10/dist-packages (from easyocr) (0.19.3)
Collecting python-bidi (from easyocr)
  Downloading python_bidi-0.4.2-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from easyocr) (6.0.1)
Requirement already satisfied: Shapely in /usr/local/lib/python3.10/dist-packages (from easyocr) (2.0.2)
Collecting pyclipper (from easyocr)
  Downloading pyclipper-1.3.0.post5-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (908 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 908.3/908.3 kB 15.3 MB/s eta 0:00:00
Collecting ninja (from easyocr)
  Downloading ninja-1.11.1.1-py2.py3-none-manylinux1_x86_64.manylinux_2_5_x86_64.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.2/307.2 kB 13.1 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from torchvision>=0.5->easyocr) (2.31.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch->easyocr) (3.13.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch->easyocr) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch->easyocr) (1.12)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch->easyocr) (3.2.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch->easyocr) (3.1.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch->easyocr) (2023.6.0)
Requirement already satisfied: triton==2.1.0 in /usr/local/lib/python3.10/dist-packages (from torch->easyocr) (2.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from python-bidi->easyocr) (1.16.0)
Requirement already satisfied: imageio>=2.4.1 in /usr/local/lib/python3.10/dist-packages (from scikit-image->easyocr) (2.31.6)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.10/dist-packages (from scikit-image->easyocr) (2023.9.26)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-image->easyocr) (1.5.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from scikit-image->easyocr) (23.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch->easyocr) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->torchvision>=0.5->easyocr) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->torchvision>=0.5->easyocr) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->torchvision>=0.5->easyocr) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->torchvision>=0.5->easyocr) (2023.11.17)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch->easyocr) (1.3.0)
Installing collected packages: pyclipper, ninja, python-bidi, easyocr
Successfully installed easyocr-1.7.1 ninja-1.11.1.1 pyclipper-1.3.0.post5 python-bidi-0.4.2

In [ ]:
import easyocr
import pandas as pd
import numpy as np
import os
import re

In [ ]:
reader=easyocr.Reader(["ch_sim","en"])

WARNING:easyocr.easyocr:Neither CUDA nor MPS are available - defaulting to CPU. Note: This module is much faster with a GPU.
WARNING:easyocr.easyocr:Downloading detection model, please wait. This may take several minutes depending upon your network connection.

Progress: |██████████████████████████████████████████████████| 100.0% Complete

WARNING:easyocr.easyocr:Downloading recognition model, please wait. This may take several minutes depending upon your network connection.

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [ ]:

img1=reader.readtext("/content/drive/MyDrive/Classroom/image/1.png",detail=0)
print(img1)

['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891', 'WWW.XYZI.com', 'hello@XYZI.com', '123 ABC St Chennai,', 'SelVa', 'TamilNadu 600113', 'digitals']

In [ ]:
img2=reader.readtext("/content/drive/MyDrive/Classroom/image/2.png",detail=0)
print(img2)

['Amit Kumar', 'CEO & FOUNDER', '123-456-7569', 'hello@global.com', 'TTT', 'global.com', '123 global', 'Erode;', 'GLOBAL', 'TamilNadu 600115', 'INSURANCE', 'St;']

In [ ]:
img3=reader.readtext("/content/drive/MyDrive/Classroom/image/3.png",detail=0)
print(img3)

['KARTHICK', 'General Manager', '123 ABC St , Salem,', 'TamilNadu 6004513', '+123-456-7890', 'hello@Borcelle.com', 'WWW. Borcelle.com', 'BORCELCE', 'AIRLINES']

In [ ]:
img4=reader.readtext("/content/drive/MyDrive/Classroom/image/4.png",detail=0)
print(img4)

['REVANTH', 'Marketing Executive', '123 ABC St. HYDRABAD, TamilNadu,', '600001', '+91-456-1234', 'hello@CHRISTMAS.com', 'Family', 'WWW.CHRISTMAS.com', 'Restaurant']

In [ ]:
img5=reader.readtext("/content/drive/MyDrive/Classroom/image/5.png",detail=0)
print(img5)

['SANTHOSH', 'Technical Manager', '123 ABC St, Tirupur, TamilNadu;', '641603', '+123-456-1234', 'hello@Sun.com', 'WWWSun.com', 'Sun Electricals']

In [ ]:
def phno(image):
          num = []
          for i in image:
            if re.findall(r'^[+]',i):
              num.append(i)
            elif(re.findall(r'^\d{3}-\d{3}-\d{4}$',i)):
              num.append(i)
          return num

In [ ]:
def email(image):
          for i in image:
            if(re.findall(r'[\w\.-]+@[\w\.-]+',i)):
              return i

In [ ]:
def website(image):
          website = ""
          for i in image:
            if re.match(r'^WWW(?=.*\.com)', i):
              website = i
            elif re.match(r'^\w+\.com$', i):
              website = ('WWW.'+i)
          if len(website) ==0:
            website = "not available"
          else:
            return website

In [ ]:
def name(image):
          for i in image:
            return i

In [ ]:
def designation(image):
          for i in image:
            return image[1]

In [ ]:
def address(image):
          for i in image:
            if(re.findall(r'^123+\\s[\\w\\.-]+',i)):
              return i[0:10]

In [ ]:
def domain(image):
          for i in image[-1]:
            if len(image[-1])> 5:
              return image[-1]
            else:
              return image[-2]

In [ ]:
def district(image):
          for i in image:
            if(re.search(r'^123+\s',i)):
              if len(i[10:20])> 6:
                return i[11:20].replace(",","\"")
            elif (re.search(r'\bErode\b',i)):
              return i.replace(";","")
          return "Not Available"

In [ ]:
def pincode(image):
            pincode = None
            for i in image:
                pincode_match = re.search(r'(\d{6})|\b(\d{3}\s*\d{3})\b', i)
                if pincode_match:
                    pincode = pincode_match.group(0).replace(' ', '')
            return pincode

In [ ]:
def state(image):
            for i in image:
                match = re.search(r'TamilNadu', i)
                if match:
                    return match.group()
            return "Not found"

In [ ]:
def data(image):
    data = {}
    data['Name'] = name(image)
    data['Designation'] = designation(image)
    data['Domain'] = domain(image)
    data['Contact'] = phno(image)
    data['E-mail'] = email(image)
    data['Website'] = website(image)
    data['Address'] = address(image)
    data['District'] = district(image)
    data['State'] = state(image)
    data['Pincode'] = pincode(image)
    return data

In [ ]:
        df_1 = pd.DataFrame(data(img1))
        df_2 = pd.DataFrame(data(img2))
        df_3 = pd.DataFrame(data(img3))
        df_4 = pd.DataFrame(data(img4))
        df_5 = pd.DataFrame(data(img5))

In [ ]:
df = pd.concat([df_1,df_2,df_3,df_4,df_5])

In [ ]:
df.to_csv('Extracted_data.csv',index=False)

In [ ]:
pd.read_csv('Extracted_data.csv')

,Name,Designation,Domain,Contact,E-mail,Website,Address,District,State,Pincode
0,Selva,DATA MANAGER,digitals,+123-456-7890,NaN,WWW.XYZI.com,NaN,"Chennai""",TamilNadu,600113
1,Selva,DATA MANAGER,digitals,+123-456-7891,NaN,WWW.XYZI.com,NaN,"Chennai""",TamilNadu,600113
2,KARTHICK,General Manager,AIRLINES,+123-456-7890,NaN,WWW. Borcelle.com,NaN,""" Salem""",TamilNadu,600451
3,REVANTH,Marketing Executive,Restaurant,+91-456-1234,NaN,WWW.CHRISTMAS.com,NaN,HYDRABAD,TamilNadu,600001
4,SANTHOSH,Technical Manager,Sun Electricals,+123-456-1234,NaN,WWWSun.com,NaN,"Tirupur""",TamilNadu,641603

In [ ]:
import sqlite3

connection= sqlite3.connect("bix_card.db")
cursor= connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        "Name" TEXT,
        Designation varchar(100),
        Domain varchar(100),
        Contact int,
        E_mail varchar(100),
        Website varchar(100),
        Address varchar(100),
        District varchar(100),
        State varchar(100),
        Pincode int
    )
''')

# Commit the changes
connection.commit()

In [ ]:
conn = sqlite3.connect('businessdetails.db')

# Create a cursor
cursor = conn.cursor()

# Execute SELECT query
query = "SELECT * FROM users"
cursor.execute(query)

# Fetch the results
rows = cursor.fetchall()

# Create a DataFrame from the query results
df1 = pd.DataFrame(rows, columns=[column[0] for column in cursor.description])

# Display the DataFrame
print(df1.tail())

# Close the connection
conn.close()

In [ ]:
cursor.execute("INSERT INTO users (Name, Designation,Domain,Contact,E_mail,Website,Address,District,State,Pincode) VALUES (?,?,?,?,?,?,?,?,?,?)",("Selva", "DATA MANAGER",	"digitals",	+123-456-7890	,"hello@XYZI.com",	"WWW.XYZI.com",	"123 ABC St",	"Chennai",	"TamilNadu",	600113))
cursor.execute("INSERT INTO users (Name, Designation,Domain,Contact,E_mail,Website,Address,District,State,Pincode) VALUES (?,?,?,?,?,?,?,?,?,?)",("Selva", "DATA MANAGER",	"digitals",	123-456-7891	,"hello@XYZI.com",	"WWW.XYZI.com",	"123 ABC St",	"Chennai",	"TamilNadu",	600113))
cursor.execute("INSERT INTO users (Name, Designation,Domain,Contact,E_mail,Website,Address,District,State,Pincode) VALUES (?,?,?,?,?,?,?,?,?,?)",("Amit Kumar","CEO & FOUNDER","INSURANCE",+123-456-7569,"hello@global.com","WWW.global.com","123 global",	"Erode","TamilNadu", 600115))
cursor.execute("INSERT INTO users (Name, Designation,Domain,Contact,E_mail,Website,Address,District,State,Pincode) VALUES (?,?,?,?,?,?,?,?,?,?)",("KARTHICK","General Manager","AIRLINES",+123-456-7890,"hello@Borcelle.com","WWW.Borcelle.com",	"123 ABC St","Salem","TamilNadu",600451))
cursor.execute("INSERT INTO users (Name, Designation,Domain,Contact,E_mail,Website,Address,District,State,Pincode) VALUES (?,?,?,?,?,?,?,?,?,?)", ("REVANTH", "Marketing Executive",	"Restaurant",	+91-456-1234	,"hello@CHRISTMAS.com",	"WWW.CHRISTMAS.com",	"123 ABC St",	"HYDRABAD",	"TamilNadu",	600001))
cursor.execute("INSERT INTO users (Name, Designation,Domain,Contact,E_mail,Website,Address,District,State,Pincode) VALUES (?,?,?,?,?,?,?,?,?,?)", ("SANTHOSH", "Technical Manager",	"Sun Electricals",	+123-456-1234		,"hello@Sun.com",	"WWW.Sun.com",	"123 ABC St",	"Tirupur",	"TamilNadu",	641603))

# Commit the changes
connection.commit()

# Fetch and display the data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close the connection
connection.close()

('Selva', 'DATA MANAGER', 'digitals', -8223, 'hello@XYZI.com', 'WWW.XYZI.com', '123 ABC St', 'Chennai', 'TamilNadu', 600113)
('Selva', 'DATA MANAGER', 'digitals', -8224, 'hello@XYZI.com', 'WWW.XYZI.com', '123 ABC St', 'Chennai', 'TamilNadu', 600113)
('Amit Kumar', 'CEO & FOUNDER', 'INSURANCE', -7902, 'hello@global.com', 'WWW.global.com', '123 global', 'Erode', 'TamilNadu', 600115)
('KARTHICK', 'General Manager', 'AIRLINES', -8223, 'hello@Borcelle.com', 'WWW.Borcelle.com', '123 ABC St', 'Salem', 'TamilNadu', 600451)
('REVANTH', 'Marketing Executive', 'Restaurant', -1599, 'hello@CHRISTMAS.com', 'WWW.CHRISTMAS.com', '123 ABC St', 'HYDRABAD', 'TamilNadu', 600001)
('SANTHOSH', 'Technical Manager', 'Sun Electricals', -1567, 'hello@Sun.com', 'WWW.Sun.com', '123 ABC St', 'Tirupur', 'TamilNadu', 641603)

In [ ]:
connection = sqlite3.connect('bix_card.db')

# Create a cursor
cursor = connection.cursor()

# Execute SELECT query
query = "SELECT * FROM users"
cursor.execute(query)

# Fetch the results
rows = cursor.fetchall()

# Create a DataFrame from the query results
df1 = pd.DataFrame(rows, columns=[column[0] for column in cursor.description])

# Display the DataFrame
print(df1.tail())

# Close the connection
connection.close()

         Name          Designation           Domain  Contact  \
1       Selva         DATA MANAGER         digitals    -8224
2  Amit Kumar        CEO & FOUNDER        INSURANCE    -7902
3    KARTHICK      General Manager         AIRLINES    -8223
4     REVANTH  Marketing Executive       Restaurant    -1599
5    SANTHOSH    Technical Manager  Sun Electricals    -1567

                E_mail            Website     Address  District      State  \
1       hello@XYZI.com       WWW.XYZI.com  123 ABC St   Chennai  TamilNadu
2     hello@global.com     WWW.global.com  123 global     Erode  TamilNadu
3   hello@Borcelle.com   WWW.Borcelle.com  123 ABC St     Salem  TamilNadu
4  hello@CHRISTMAS.com  WWW.CHRISTMAS.com  123 ABC St  HYDRABAD  TamilNadu
5        hello@Sun.com        WWW.Sun.com  123 ABC St   Tirupur  TamilNadu

   Pincode
1   600113
2   600115
3   600451
4   600001
5   641603

In [ ]:
df1

,Name,Designation,Domain,Contact,E_mail,Website,Address,District,State,Pincode
0,Selva,DATA MANAGER,digitals,-8223,hello@XYZI.com,WWW.XYZI.com,123 ABC St,Chennai,TamilNadu,600113
1,Selva,DATA MANAGER,digitals,-8224,hello@XYZI.com,WWW.XYZI.com,123 ABC St,Chennai,TamilNadu,600113
2,Amit Kumar,CEO & FOUNDER,INSURANCE,-7902,hello@global.com,WWW.global.com,123 global,Erode,TamilNadu,600115
3,KARTHICK,General Manager,AIRLINES,-8223,hello@Borcelle.com,WWW.Borcelle.com,123 ABC St,Salem,TamilNadu,600451
4,REVANTH,Marketing Executive,Restaurant,-1599,hello@CHRISTMAS.com,WWW.CHRISTMAS.com,123 ABC St,HYDRABAD,TamilNadu,600001
5,SANTHOSH,Technical Manager,Sun Electricals,-1567,hello@Sun.com,WWW.Sun.com,123 ABC St,Tirupur,TamilNadu,641603